<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: antiquewhite;
        }
        input{
            height: 35px;
            border-radius: 15px;
            border: none;
            color: rgb(6, 7, 8);
        }

        button{
            height: 35px;
            border-radius: 15px;
            border: none;
            color: rgb(8, 9, 9);
        }
    </style>
</head>
<body>
    <h1>Welcome to HomePage</h1>
    <h3> <%= 1+2 %> </h3>
    <input type="text" placeholder="Search Anything">
    <button>Search</button>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa nisi dignissimos voluptatem minima debitis, inventore error consectetur ipsum quis nobis ab sapiente doloribus aut fugiat vero nihil saepe cumque! Doloremque.
    Earum, tenetur ut? Doloremque porro vel ut architecto voluptatum sint accusamus aspernatur nisi facere nulla ipsa, voluptatem quis magni quaerat. Culpa odio tempore aperiam beatae laboriosam error doloremque voluptas. Voluptatibus!
    Possimus aut esse optio cupiditate ipsum est, exercitationem labore facere unde dignissimos, tempora assumenda amet fuga, omnis quam reiciendis placeat ad nostrum perferendis ea maiores laboriosam qui? Eaque, nemo saepe.
    Quisquam rerum exercitationem iure perspiciatis aut harum necessitatibus inventore animi sequi eos dolorum commodi, quidem sunt mollitia quibusdam delectus. Corporis, obcaecati dolor asperiores et excepturi placeat eius nisi saepe aspernatur.
    Molestiae reprehenderit porro, optio sint eius, aspernatur consequatur accusamus dignissimos, repudiandae molestias omnis odit nobis? Quasi possimus a impedit sint, totam maxime distinctio veniam labore fugit repudiandae natus recusandae! Vel?
    Nemo qui facilis hic adipisci quisquam cum excepturi eum necessitatibus, saepe sed magni natus fuga vel cumque doloremque voluptatum? Culpa neque, atque quae a aperiam quidem? Quibusdam maiores consequuntur excepturi?
    Consequuntur, dolorum quo ea fuga tenetur harum nihil voluptate sint debitis ipsa vitae dolorem ipsum aliquam vero ex illo ipsam? Ratione eos obcaecati exercitationem quidem tempore repudiandae omnis quis temporibus?
    Natus illo dicta cupiditate praesentium rerum rem voluptates in temporibus perspiciatis, excepturi, reprehenderit at vel id ab quis atque cumque deleniti laborum dolorum voluptatem libero impedit beatae. Inventore, sapiente non!
    Veritatis, magnam incidunt unde at ex dolorem soluta dolorum repellendus officiis quidem distinctio optio suscipit ea ab amet quod tempore earum reiciendis cumque repudiandae quas? Expedita alias mollitia voluptates cupiditate.
    Obcaecati, distinctio? Recusandae sunt officia sequi nesciunt beatae et quae nemo cupiditate magnam ullam, maxime mollitia culpa officiis quis aliquam repellat minus molestiae. Numquam voluptas quibusdam delectus aperiam minus eius.
    Commodi reiciendis earum a! Adipisci quam ipsam nesciunt ratione? Illum ad pariatur modi nostrum corporis quae facilis inventore. Consectetur sapiente dolores cum laborum voluptate quibusdam asperiores eius deleniti maiores labore.
    Soluta, laborum laudantium recusandae veniam pariatur impedit enim cum natus quod exercitationem. Minus neque, non suscipit temporibus quod qui eos, id quidem asperiores voluptates quisquam doloribus culpa velit sed cupiditate?
    Architecto corrupti, maxime aliquid debitis odio inventore alias est error explicabo repudiandae repellendus labore itaque corporis vero deleniti praesentium optio at iusto! Consequatur dolorum sint iure culpa quo maiores vel.
    Atque nisi, ipsum quibusdam expedita iste, nemo officia placeat a inventore dolores necessitatibus eius tempore doloribus ipsam accusantium rem minima. Labore sunt eligendi molestiae voluptatibus mollitia repellendus? Omnis, accusamus autem.
    A debitis minus, explicabo architecto dolor nobis aliquam. Rem nam, officiis culpa minima ex sapiente velit error deleniti. Expedita, magnam? Aliquid possimus mollitia eum quae quo consectetur quam ipsum cum.
    Quidem ut pariatur quia doloremque alias blanditiis cum aliquam sequi amet aspernatur corporis nemo aliquid culpa beatae modi est, praesentium, tempore obcaecati minima veritatis id atque deleniti voluptatum veniam! Assumenda!
    Ducimus voluptatum nulla impedit modi cum quasi! Repudiandae doloribus impedit tempore perspiciatis inventore adipisci omnis neque, dolorem, quae commodi magni suscipit harum maiores cum blanditiis reprehenderit illum ab facere enim.
    Perspiciatis quaerat dicta sit eius magni harum natus? Totam dolores aliquam odio soluta eum quis nostrum dolorem. Quasi illum similique expedita rerum nemo reprehenderit tempore quibusdam molestias dolorum. Libero, ea?
    Aspernatur aperiam tenetur veniam omnis similique tempore, accusantium vel tempora? Neque debitis voluptatum eligendi eum aspernatur. Laudantium itaque amet sequi est fuga voluptates ipsum soluta nemo maiores eaque, excepturi numquam.
    Consequatur ipsa, tempore eum eveniet soluta, doloribus earum qui laboriosam id, maiores vel corrupti expedita quidem officia deleniti quae dolor temporibus molestiae modi. Provident fuga saepe distinctio, explicabo ad perspiciatis.
    </p>
</body>
</html>